body {
  background-color: white;
  margin: 0;
}

div.container {
  position: relative;
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  transform: translateY(50%);
}

canvas.game {
  display: block;
  cursor: move;
}

div.splash {
  background-image: url('/image/splash.png');
  width: 100%;
  height: 100%;
}

h1.splash {
  position: relative;
  color: white;
  top: 50%;
  text-align: center;
}

h1.error {
  position: relative;
  color: red;
  top: 50%;
  text-align: center;
}

div.overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgb(255, 1, 1);
  color: white;
  font-family: monospace;
  padding: 1em;
}

/*
div.game {
  cursor: move;
  position: relative;
  background-color: green;
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

h1.splash {
  color: white;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

h1.splash:hover {
  color: yellow;
}

h1.shout {
  color: red;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

div.hud {
  background-color: : white;
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
}
*/
