div.fullscreen {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

div.splash {
  position: relative;
  background-color: yellow;
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

div.game {
  position: relative;
  background-color: green;
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

h1.splash {
  color: white;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

h1.shout {
  color: red;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}
